* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

.main-container {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: white;
    border-bottom: 1px solid #ddd;

}
.app-header svg {
    width: 7%;
    height: 7%;
}
.stories {
    display: flex;
    padding: 10px;
    background: white;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.story {
    text-align: center;
    margin-right: 15px;
}
.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #d6249f;
}
.story-name {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
}
.post {
    background: white;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #d6249f;
    cursor: pointer;
}
.post-image {
    width: 100%;
    height: 400px;
    background: #ccc;
}
.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.post-actions img {
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.likes {
    padding: 0 10px;
    font-weight: bold;
    cursor: pointer;
}
.description {
    padding: 0 10px;
    color: #333;
}
.footer {
    width: calc(100%/3);
    height: 50px;
    border: 1pt solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    background: #1359bb;
}
.footer li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer li svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}